<!--css import-->
<link href="../Content/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
<link href="../Content/CSS/landing.css" rel="stylesheet" />
<link href="../Content/bootstrap.css" rel="stylesheet" />


<div class="left-icon">

    <a href="#/map">
        <div class="main-icon">
            <i class="fa fa-map white-color center" aria-hidden="true"></i>
            <p>Map</p>
        </div>
    </a>

    <a href="#/news">
        <div class="main-icon">
            <i class="fa fa-newspaper-o fa-5x" aria-hidden="true"> </i>
            <p>News</p>
        </div>
    </a>

    <a href="#/events">
        <div class="main-icon">
            <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
            <p>Events</p>
        </div>
    </a>

</div>
<div class="right-icon">
    <a href="https://www.facebook.com/pages/Auer-Farm/103011423125686">
        <div class="main-icon">
            <i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i>
            <p>Facebook</p>
        </div>
    </a>
    <a href="#/shop">
        <div class="main-icon">
            <i class="fa fa-shopping-basket fa-5x" aria-hidden="true"></i>
            <p>On Sale</p>
        </div>
    </a>
    <a href="#/comments">
        <div class="main-icon">
            <i class="fa fa-comments fa-5x" aria-hidden="true"></i>
            <p>Comments</p>
        </div>
    </a>
</div>


